.anonym a:hover{
    color: rgb(107, 103, 103);    
}

.SignLog a:hover{
color: rgb(107, 103, 103);
}
.nav div a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(216, 213, 213);
}

.nav div a:hover{
    color: rgb(246, 107, 107)
}

.footer>a{
    margin-left: 4px;
    margin-right: 4px;
    
}
.footer>a:hover{
    color: rgb(123, 174, 233);
    margin-left: 8px;
    margin-right: 8px;
    
}

.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-button{
    color: rgb(240, 101, 101);
}
.dropdown-button:hover{
    color: rgb(243, 35, 35);
}
.dropdown-content{
    padding:20px 10px ;
    border-radius: 14px;
    display: none;
    position: absolute;
    background-color: #1E1E1E;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translateX(-30%);
    min-width: 150px;
    
}
.dropdown-content button{
    display: block;
}
.dropdown-content button:hover {
    color: rgb(242, 129, 129);
    background-color: white;
  }

  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
  .dropdown-content p:hover{
    color: rgb(244, 130, 130);
  }
  .content a{
    color: rgb(245, 86, 86);
  }